########### DJANGO CONFIGRATION ###########
DEBUG=
APP_NAME=
TRA_DOMAIN=
SECRET_KEY=

########### DB CONFIGRATION ###########
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=


########### CACHE CONFIGRATION ###########
REDIS_HOST=
REDIS_PORT=
