########### DJANGO CONFIGRATION ###########
DEBUG=
APP_NAME=
TRA_DOMAIN=
SECRET_KEY=

########### DB CONFIGRATION ###########
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=


########### CACHE CONFIGRATION ###########
REDIS_HOST=
REDIS_PORT=
